# List

List is mutable

Multiple data types can be stored in a list

List slicing is possible

In [2]:
l = [1,3,6,2,4]

In [3]:
# append - adds data to the end of the list
l.append(8)
print(l)

[1, 3, 6, 2, 4, 8]

In [4]:
# insert - is used to add elements to specified index
l.insert(2,5)  # 2 is the index, 5 is the value to be added in 2nd index
print(l)

[1, 3, 5, 6, 2, 4, 8]

In [5]:
# pop
l.pop(3) # removes element at the 3rd index
print(l)

[1, 3, 5, 2, 4, 8]

In [6]:
# sort
l.sort()
print(l)

[1, 2, 3, 4, 5, 8]

In [7]:
# reverse
l.reverse()
print(l)

[8, 5, 4, 3, 2, 1]

In [10]:
# reassigning values
l[0] = 9
print(l)

[9, 5, 4, 3, 2, 1]

In [11]:
# slicing
print(l[0:2])

[9, 5]

# Tuple

Tuple is immutable

In [13]:
t = (1,2,3)

In [14]:
# index - prints the index of the given element
print(t.index(2)) # gives the index of 2

1

In [15]:
# if we need to specify only 1 element in tuple then put comma after the element
t1 = (2,)
print(t1)

(2,)

In [16]:
#multiple variable assignement
a,b = 1,2
print(a)
print(b)

1
2

# Set

set does not allow duplicates

set is unordered collection

In [17]:
s = set()
print(s)

set()

In [20]:
# add - adds element in set
s.add(1)
s.add(2)
print(s)

{1, 2}

In [21]:
# remove - if element is not there then remove method will show error

s.remove(10)

<class 'KeyError'>: 10

In [22]:
# discard method works like remove, but will not show error
s.discard(10)

In [23]:
s1 = {'sri','ram'}

In [24]:
# union
s3 = s.union(s1)
print(s3)

{'sri', 1, 2, 'ram'}

In [26]:
# using update method we cant store in new variable
s.update(s1)
print(s)

{'sri', 1, 2, 'ram'}

In [27]:
s4 = s.intersection(s1)
print(s4)

{'sri', 'ram'}

# Dictionary

Stored as a key value pair

Dictionary is mutable

keys can be stored as int, string, tuple

Key duplicates not allowed

In [28]:
d = {'name':'sri','age':40,'address':'kerala'}
print(d)

{'name': 'sri', 'age': 40, 'address': 'kerala'}

In [29]:
# updating values
d['age'] = 20
print(d)

{'name': 'sri', 'age': 20, 'address': 'kerala'}

In [30]:
# accessing values using the keys, in list we use index and in dictionary we use key to access the value
print(d['name'])

sri

In [37]:
# stroing key as tuple
d1 = {(10,20):{1:2,3:4},'name':'abi'}
print(d1[(10,20)])

{1: 2, 3: 4}
{1: 2, 3: 4}

In [42]:
# methods
print(d.items()) # prints all the key value pair in a tuple

dict_items([('name', 'sri'), ('age', 20), ('address', 'kerala')])

In [43]:
# keys - print the keys
print(d.keys())

dict_keys(['name', 'age', 'address'])

In [44]:
#values - print the values
print(d.values())

dict_values(['sri', 20, 'kerala'])

In [45]:
# pop
print(d.pop('address'))

kerala

In [46]:
print(d)

{'name': 'sri', 'age': 20}

In [47]:
# pop items
print(d.popitem())

('age', 20)

In [48]:
print(d)

{'name': 'sri'}

# Looping

In [10]:
l = [1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [13]:
for i in range(len(l)):
    for j in range(len(l)):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3

# Basic Problems

In [2]:
# factorial
n=5
c=1
for i in range(1,n+1):
    c = c * i
print(c)

120

In [3]:
# palindrome
s = 'madam'
k = ''
for i in s:
    k = i + k
print(k)
if s == k:
    print('palindrome')
else:
    print('Not a palindrome')

madam
palindrome

In [4]:
# odd or even
a = 10
if (a%2) == 0:
    print('even')
else:
    print('odd')

even

In [1]:
# swapping numbers
a = 10
b = 20
print('before swapping : value of a =', a,'value of b =', b)
c = a
a = b
b = c
print('after swapping : value of a =', a,'value of b =', b)

before swapping : value of a = 10 value of b = 20
after swapping : value of a = 20 value of b = 10